.modal {
  display: grid;
  padding: 20px;
  margin: 20px;
  margin-left: 40px;
  margin-bottom: 40px;
  background-color: #59c9a5;
  list-style-type: none;
  border-radius: 5px;
  box-shadow: 0px 5px 10px #868686;
  margin-right: 50%;
}

.modal-input {
  margin: 10px;
  font-family: monospace;
  width: 60%;
  border-radius: 4px;
  border-width: 0px;
  background-color: #f3f3f380;
  padding: 5px;
  box-shadow: 0px 0px 2px #868686;
  transition: box-shadow 0.3s;
}

.modal-input:hover {
  box-shadow: 2px 5px 5px #868686;
}

#body {
  resize: vertical;
  width: 60%;
  height: 100px;
}

.modal-add-button {
  float: left;
  width: 100px;
  padding: 10px;
  margin: 10px;
  margin-left: 50%;
  background-color: #fffd98;
  color: #23395b;
  border-width: 0px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #868686;
  font-family: monospace;
  font-weight: bold;
  font-size: small;
  transition: padding 0.2s;
}

.modal-add-button:hover {
  background-color: #ffe798;
  padding: 15px;
  cursor: pointer;
}
